section.blog-features 
  .section-bg.blog-features__bg
    .container 
      .blog-features__bg-dec

  .container 
    if $blogFeaturesTitle
      .title: h3= $blogFeaturesTitle
    else 
      - ''
      
    .blog-features__wrapper 
      .blog-features__main
        a(href="#").blog-features__main-card 
          .blog-features__card-img 
            img(src="img/blog-features_img0.jpg", alt="Lawyer PPC Landing Pages")
            span.blog-features__card-img-label Marketing

          .blog-features__card-content
            h4 How to Create Lawyer PPC Landing Pages That Convert?
            p Pay-Per-Click advertising is one of the best ways to generate more leads and sales conversions for your law firm. When it comes to paid digital
      
      .blog-features__other 
        a(href="#").blog-features__other-card 
          .blog-features__card-img 
            img(src="img/blog-features_img1.jpg", alt="Lorem ipsum")
            span.blog-features__card-img-label Marketing

          .blog-features__card-content 
            h5 Lorem ipsum dolor sit amet
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quam morbi cras magna dis tempor. Sed tempor.
        
        a(href="#").blog-features__other-card
          .blog-features__card-img
            img(src="img/blog-features_img2.jpg", alt="Id quam morbi")
            span.blog-features__card-img-label Sales

          .blog-features__card-content  
            h5 Id quam morbi cras magna
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum a morbi a nec ullamcorper nec blandit.
        
        a(href="#").blog-features__other-card 
          .blog-features__card-img
            img(src="img/blog-features_img3.jpg", alt="Dis tempor")
            span.blog-features__card-img-label Web

          .blog-features__card-content 
            h5 Dis tempor sed tempor
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magnis diam venenatis amet non. Ipsum commodo.
  