section(class=`faq${$faqClass ? ' ' + $faqClass : ''}`)
  .section-bg.faq__bg
      .container
        .faq__bg-dec

  .container 
    .row 
      .title: h3= $faqTitle

    .faq__wrapper  
      .custom-accordion
        button.custom-accordion__btn.active
          h6 Why Should I Hire You For Law Firm Marketing?
        .custom-accordion__panel(style='display: block;')
          p While taking charge of your law firm marketing yourself sounds easy, it rarely is so. It can be time-consuming and demanding, especially if you are new at this. Instead, you can rely on experts like us, who have more than ten years of experience in offering legal marketing services to lawyers across the country.
        
        button.custom-accordion__btn
          h6 Do You Offer Law Firm Website Design?
        .custom-accordion__panel
          p Yes! Our law firm web design services include web designing, redesigning, and back-end development.
        
        button.custom-accordion__btn
          h6 Do You Help with Law Firm Business Listings on Google?
        .custom-accordion__panel
          p Yes. Our law firm marketing experts can help improve your Google My Business listing using various modern law firm SEO strategies. We will make sure your GMB profile has all the necessary elements to make it stand out from the rest.
        
        button.custom-accordion__btn
          h6 How Does Your Law Firm Marketing Agency Help?
        .custom-accordion__panel
          p We create and execute a law firm SEO strategy suitable for your marketing needs and budget. We have a highly data-driven approach towards law firm SEO to ensure you get the maximum returns on your investment. In short, we will do all the legwork while you focus on your practice.

      .custom-accordion.hidden
        button.custom-accordion__btn
          h6 Do You Offer Law Firm Website Design?
        .custom-accordion__panel
          p Yes! Our law firm web design services include web designing, redesigning, and back-end development.
        
        button.custom-accordion__btn
          h6 Do You Help with Law Firm Business Listings on Google?
        .custom-accordion__panel
          p Yes. Our law firm marketing experts can help improve your Google My Business listing using various modern law firm SEO strategies. We will make sure your GMB profile has all the necessary elements to make it stand out from the rest.
        button.custom-accordion__btn.active
          h6 Why Should I Hire You For Law Firm Marketing?
        .custom-accordion__panel(style='display: block;')
          p While taking charge of your law firm marketing yourself sounds easy, it rarely is so. It can be time-consuming and demanding, especially if you are new at this. Instead, you can rely on experts like us, who have more than ten years of experience in offering legal marketing services to lawyers across the country.
        
        button.custom-accordion__btn
          h6 Do You Offer Law Firm Website Design?
        .custom-accordion__panel
          p Yes! Our law firm web design services include web designing, redesigning, and back-end development.
        
        button.custom-accordion__btn
          h6 Do You Help with Law Firm Business Listings on Google?
        .custom-accordion__panel
          p Yes. Our law firm marketing experts can help improve your Google My Business listing using various modern law firm SEO strategies. We will make sure your GMB profile has all the necessary elements to make it stand out from the rest.
        
        button.custom-accordion__btn
          h6 How Does Your Law Firm Marketing Agency Help?
        .custom-accordion__panel
          p We create and execute a law firm SEO strategy suitable for your marketing needs and budget. We have a highly data-driven approach towards law firm SEO to ensure you get the maximum returns on your investment. In short, we will do all the legwork while you focus on your practice.

      a(href="#").btn.btn-round.js-btn-more Show more