head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Gorilla webtactics
    meta(property='og:title' content='Gorilla webtactics')
    meta(property='og:description' content='Gorilla Webtactics is a niche law firm marketing agency for lawyers that specializes in marketing for criminal defense, family law, injury, bankruptcy and B2C law firms.')
    meta(property='og:image' content='https://sijunma.github.io/Gorilla/build/img/og-image.jpg')
    meta(property='og:image:width' content='950')
    meta(property='og:image:height' content='555')
    meta(property='og:url' content='https://www.gorillawebtactics.com/')
    meta(property='og:type' content='website')
    meta(property='og:locale' content='en_US')
    meta(name='robots' content='noindex')
    link(rel='icon' href='favicon.png' type='image/x-icon')
    link(rel='shortcut icon' href='favicon.png' type='image/x-icon')
    
    link(rel='stylesheet' href='css/style.min.css')
