section(class=`msg-form${$msgFormClass ? ' ' + $msgFormClass : ''}`)
  .section-bg.msg-form__bg
    .container 
      .msg-form__bg-dec

  .container  
    .row 
      .col-xxl-8.offset-xxl-2.offset-xl-1.col-xl-10
        .msg-form__card 
          h5 Lorem ipsum dolor sit amet
          p Nec malesuada dictum malesuada sit adipiscing tempus ex. Nec mauris tempus in urna morbi dictumst. Nec sodales est. Luctus lectus in sed ex. Urna leo, ex. Molestie mattis eleifend adipiscing dapibus mauris nec amet, amet, risus vulputate quam, mauris orci, lorem ex.

          //- #wpcf7-f161-o1.wpcf7(role='form' lang='uk' dir='ltr')
          //-   .screen-reader-response
          //-     p(role='status' aria-live='polite' aria-atomic='true')
          //-     ul
          //-   form.wpcf7-form.init.msg-form__form(action='/#wpcf7-f161-o1' method='post' novalidate='novalidate' data-status='init')
          //-     div(style='display: none;')
          //-       input(type='hidden' name='_wpcf7' value='161')
          //-       input(type='hidden' name='_wpcf7_version' value='5.5.6')
          //-       input(type='hidden' name='_wpcf7_locale' value='uk')
          //-       input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f161-o1')
          //-       input(type='hidden' name='_wpcf7_container_post' value='0')
          //-       input(type='hidden' name='_wpcf7_posted_data_hash' value='')
          //-     .form-group
          //-       .form-floating
          //-         span.wpcf7-form-control-wrap.your-name
          //-           input#form_name.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form-control(type='text' name='your-name' value='' size='40' aria-required='true' aria-invalid='false' placeholder='Your name')
          //-         br
          //-         label(for='your-name') Your name
          //-       .form-floating
          //-         span.wpcf7-form-control-wrap.email
          //-           input#form_email.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.form-control(type='email' name='email' value='' size='40' aria-required='true' aria-invalid='false' placeholder='Your Email')
          //-         br
          //-         label(for='form_email') Your Email
          //-     .form-group
          //-       .form-floating
          //-         span.wpcf7-form-control-wrap.message
          //-           textarea#form_msg.wpcf7-form-control.wpcf7-textarea.form-control(name='message' cols='40' rows='10' aria-invalid='false' placeholder='How can we help you?')
          //-         br
          //-         label(for='form_msg') How can we help you?
          //-     .form-group
          //-       button.btn.btn-round(type='submit') Submit


          form.msg-form__form
            .form-group 
              .form-floating
                input.form-control(type="text" name="name" placeholder="Your name" id="form_name")
                label(for="form_name") Your name
              
              .form-floating
                input.form-control(type="email" name="email" placeholder="Your Email" id="form_email")
                label(for="form_email") Your Email

            .form-group
              .form-floating
                textarea.form-control(name="message" placeholder="How can we help you?" id="form_msg")
                label(for="form_msg") How can we help you?

            .form-group
              button(type="submit").btn.btn-round Submit