nav.nav 
    .section-bg.nav__bg
        .container 
            .nav__bg-dec

    .container 
        .nav__wrapper 
            .nav__burger 
                button(type="button").nav__btn#burgerBtn 
                    span 
                    span 
                    span 

            .nav__logo.logo
                a(href="/index.html"): img(src="img/logo_main.png", alt="Home" width="172" height="47")

            .nav__menu#navigationMenu
                ul
                    li: a(href="law-firm-marketing.html") Law firm marketing
                    li: a(href="#") Web design
                    li: a(href="#") SEO
                    li: a(href="#") PPC
                    li Free resources
                        ul
                            li: a(href="#") Law Firm Website Designs
                            li: a(href="#") Law Firm Marketing Blogs
                            li: a(href="#") Guide To Law Firm Marketing: Online
                            li: a(href="#") How To Get New Clients For Law Firms

                a.btn.btn-nav(href="#") I WANT MORE INFORMATION

            .nav__controls 
                a.btn.btn-tel(href="tel:(612) 470-9877")= '(612) 470-9877'
                a.btn.btn-nav(href="#") I WANT MORE INFORMATION
