section(class=`reviews${$reviewsClass ? ' ' + $reviewsClass : ''}`)
  .section-bg.reviews__bg
    .container 
      .reviews__bg-dec

  .container 
    .row 
      .col-lg-5 
        .title: h2 Don’t Take Our Word For It. See What Our Clients Say
      
      .col-lg-7 
        .splide.reviews__slider
          .splide__track
            ul.splide__list

              li.splide__slide
                .reviews__slider-card 
                  .reviews__slider-card__quote 
                    blockquote Gorilla Webtactics is a niche law firm marketing agency for lawyers that specializes in marketing for criminal defense, family law, injury, bankruptcy and B2C law firms.  We work with motivated managing partners and owners of law firms in major metropolitan areas who are looking for more clients or want to grow.
                    cite.reviews__slider-card__cite 
                      .reviews__slider-card__avatar
                        img(src="img/reviews-av1.jpg", alt="Avatar")
                      .reviews__slider-card__author 
                        span Jonathan Dao
                        small Managing Partner at Bymaster Bankruptcy 

              li.splide__slide
                .reviews__slider-card 
                  .reviews__slider-card__quote 
                    blockquote Ac, in egestas consequat gravida ac tellus at sodales. Neque felis ut egestas auctor sit elementum diam. Posuere malesuada neque fermentum purus a. Pellentesque enim, duis sapien consectetur. Pellentesque dictum eget eget condimentum cras malesuada id. Sapien et sem tellus aliquam.
                    cite.reviews__slider-card__cite 
                      .reviews__slider-card__avatar
                        img(src="img/reviews-av2.jpg", alt="Avatar")
                      .reviews__slider-card__author 
                        span Jonas Kakaroto
                        small Managing Partner at Bymaster Bankruptcy

              li.splide__slide
                .reviews__slider-card 
                  .reviews__slider-card__quote 
                    blockquote Mi, pellentesque feugiat venenatis vestibulum, justo, rhoncus, integer. Ultrices risus pellentesque quam scelerisque morbi. Erat ultrices in diam massa magnis ornare netus. Nibh laoreet amet nibh rhoncus blandit in. Velit tortor aliquet adipiscing vitae faucibus. Tincidunt sit accumsan commodo massa.
                    cite.reviews__slider-card__cite 
                      .reviews__slider-card__avatar
                        img(src="img/reviews-av3.jpg", alt="Avatar")
                      .reviews__slider-card__author 
                        span Jurica Koletić
                        small Managing Partner at Bymaster Bankruptcy
