extends ../layout/layout.pug

block header
  header.header.header_contact-us
    .section-bg.header__bg
      .container 
        .header__bg-dec

    .container
      .header__wrapper 
        .header__offer  
          h1 REQUEST MORE INFORMATION

    .header__img-box
      .container    
        .header__img: img(src="img/header-img-contact-us.png" width="590" height="546")

block content 
  section.contact-us 
    .section-bg.contact-us__bg
      .container 
        .contact-us__bg-dec
        
    .container 
      .contact-us__content 
        p To get more information about our digital marketing and advertising services for attorneys simply fill out the form below and one of our friendly team members will get in touch with you. If you’d like to talk to someone immediately, please give us a call at <a href="tel:(612)470-9877">(612) 470-9877</a>