extends ../layout/layout.pug

block content 
  section.design-page
    .section-bg.design__bg
      .container 
        .design__bg-dec

    .container 

      .design__wrapper

        .design__content

          .design-block
            .title.title_design: h3 Jackman  family law
            a(href="https://jackmanfamilylaw.com/").design__link https://jackmanfamilylaw.com/
            ul.design__info 
              li 
                span.design__label Location: 
                | Dallas

              li 
                span.design__label Launch Date: 
                | 2020

          .design-block
            h6 Services Provided

            ul.design__services 
              li: a(href="#") PDF Mock-ups
              li: a(href="#") Law Firm Web Design
              li: a(href="#") WordPress Development
              li: a(href="#") Attorney SEO
              li: a(href="#") Technical SEO
              li: a(href="#") Goodle Schema Mark-up 
              li: a(href="#") Photo Acquisition
              li: a(href="#") Content Migration
              li: a(href="#") Reviews Integration
              li: a(href="#") Hosting Configuration
              li: a(href="#") Contact Form Integration
              li: a(href="#") Site Speed Optimization

          .design-block
            h6 Client Testimonial

            .design__quote 
              blockquote “I hired this company to design a legal website for me. They were exceptional and very good. I cannot recommend them highly enough..”
              cite.design__cite 
                .design__avatar
                  img(src="img/reviews-av1.jpg", alt="Avatar")
                .design__author 
                  span Chris Jackman
                  small Jackman Family Law 

        .design-image 
          img(src="img/design__img1.jpg", alt="Design")
        
        