extends ../layout/layout.pug

block header
  header.header.header_lfd
    .section-bg.header__bg
      .container 
        .header__bg-dec

    .container
      .header__wrapper 
        .header__offer  
          h1 LAW FIRM WEBSITE DESIGNS

    .header__img-box
      .container    
        .header__img: img(src="img/header-img-lfd.png" width="527" height="619")

block content 
  section.lfd-list 
    .section-bg.lfd-list__bg
      .container 
        .lfd-list__bg-dec
    .container 
      .lfd-list__wrapper 
        a(href="design-article.html").lfd-list__item 
          .lfd-list__img 
            img(src="img/lfd__img1.jpg", alt=" ")
          .lfd-list__title 
            h5 Jackman Family Law

        a(href="design-article.html").lfd-list__item 
          .lfd-list__img 
            img(src="img/lfd__img2.jpg", alt=" ")
          .lfd-list__title 
            h5 Jackman Personal Injury Law

        a(href="design-article.html").lfd-list__item 
          .lfd-list__img 
            img(src="img/lfd__img3.jpg", alt=" ")
          .lfd-list__title 
            h5 Gerald Miller DWI & Criminal
            
        a(href="design-article.html").lfd-list__item 
          .lfd-list__img 
            img(src="img/lfd__img1.jpg", alt=" ")
          .lfd-list__title 
            h5 Jackman Family Law

        a(href="design-article.html").lfd-list__item 
          .lfd-list__img 
            img(src="img/lfd__img2.jpg", alt=" ")
          .lfd-list__title 
            h5 Jackman Personal Injury Law

        a(href="design-article.html").lfd-list__item 
          .lfd-list__img 
            img(src="img/lfd__img3.jpg", alt=" ")
          .lfd-list__title 
            h5 Gerald Miller DWI & Criminal

        a(href="design-article.html").lfd-list__item 
          .lfd-list__img 
            img(src="img/lfd__img1.jpg", alt=" ")
          .lfd-list__title 
            h5 Jackman Family Law

        a(href="design-article.html").lfd-list__item 
          .lfd-list__img 
            img(src="img/lfd__img2.jpg", alt=" ")
          .lfd-list__title 
            h5 Jackman Personal Injury Law

        a(href="design-article.html").lfd-list__item 
          .lfd-list__img 
            img(src="img/lfd__img3.jpg", alt=" ")
          .lfd-list__title 
            h5 Gerald Miller DWI & Criminal