@import 'variables';

@media screen and (max-width: 1599px) {
    h1 {
      font-size: 80px;
    }
  
    h2 {
      font-size: 63px;
    }
  
    h3 {
      font-size: 58px;
    }

    h6 {
      font-size: 18px;
    }
  
    .nav {
      &__controls {
        margin-left: 55px;
      }
    }
  
    .header {
      min-height: 836px;
  
      &__offer {
        max-width: 490px;
  
        p {
          font-size: 20px;
        }
      }
  
      &__img {
        height: 647px;
        right: 0;
        width: 809px;
      }

      &_lfm {
        min-height: 726px;

        .header__offer {
            max-width: 580px;
            margin-bottom: 20px;
        }

        .header__img {
            width: 558px;
            height: 510px;
            right: 80px;
            bottom: 46px
        }
      }

      &_mg {
        min-height: 756px;

        .header__offer {
            max-width: 460px;
        }

        .header__img {
            width: 558px;
            height: 507px;
        }
      }

      &_blog {
        min-height: 756px;

        .header__img {
            width: 684px;
            height: 589px;
            right: 25px;
            bottom: 20px;
        }
      }

      &_lfd {
        min-height: 756px;

        .header__offer {
            max-width: 450px;
        }

        .header__img {
            width: 457px;
            height: 538px;
            right: 113px;
            bottom: 62px;
        }
      }

      &_contact-us {
        min-height: 756px;

        .header__img {
            width: 530px;
            height: 496px;
        }
      }
    }

    .lfd-list {
        &__img {
            height: 265px;
        }
    }
  
    .services {
      &__content {
        max-width: 630px;
      }
  
      &__card-box {
        max-width: 670px;
      }

      .title {
        margin-bottom: 60px;
       }
    }

    .design-page {
        padding-bottom: 500px;
    }

    .about {
        .title {
            margin-bottom: 60px;
        }
    }
  
    .metv {
      padding-bottom: 220px;

      .title {
        margin-bottom: 60px;
        }
  
      &__content {
        max-width: 630px;
      }
  
      &__card-box {
        max-width: 670px;
      }
    }
  
    .reviews {
      .title {
        max-width: 500px;
      }

      &_blue {
        padding-bottom: 300px;
      }
    }

    .card-box__item {
        line-height: 150%;
    }

    .assurance {
        .title {
            margin-bottom: 60px;
        }

        &__img {
            right: -26px;
            height: 815px;
            width: 590px;
        }
    }

    .blog-features .title {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1399px) {
    h1 {
        font-size: 62px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .header {
        min-height: 756px;

        &__offer {
            p {
                font-size: 18px;
            }
        }

        &__img {
            height: 567px;
            width: 709px;
        }

        &__bg-dec {
            &::before {
                left: -47px;
                top: 1px;
            }
            &::after {
                width: 830px;
                height: 615px;
            }
        }

        &_lfm {
            min-height: 666px;

            .header__offer {
                max-width: 450px;
            }

            .header__img {
                width: 478px;
                height: 440px;
            }
        }

        &_blog {
            min-height: 666px;

            .header__img {
                width: 564px;
                height: 479px;
            }

            .header__offer {
                max-width: 413px;
            }
        }

        &_mg {
            min-height: 666px;

            .header__offer {
                max-width: 350px;
            }

            .header__img {
                width: 448px;
                height: 407px;
            }
        }

        &_lfd {
            min-height: 666px;

            .header__offer {
                max-width: 350px;
            }

            .header__img {
                width: 448px;
                height: 437px;
            }
        }

        &_contact-us {
            min-height: 666px;

            .header__img {
                width: 450px;
                height: 416px;
                right: 100px;
            }

            .header__offer {
                max-width: 510px;
            }
        }
    }

    .main-wrapper {
        aside {
            flex-basis: 360px;
        }
    }

    .lfd-list {
        &__title {
            h5 {
                font-size: 20px;
            }
        }

        &__img {
            height: 228px;
        }
    }

    .design {
        &__quote {
            padding: 50px 60px 44px;
        }
    }

    .nav {
        &__controls {
        margin-left: 30px;

        .btn-tel {
            padding: 0 25px;
        }
        }

        &__menu {
        ul {
            li {
                margin-right: 27px;
            }
        }
        }

        &__logo {
        max-width: 142px;
        }
    }

    .about {
        &__partners-item {
            margin-right: 18px;
            margin-bottom: 18px;
            padding: 12px 40px;

            img {
                max-height: 45px;
            }
        }

        .title {
            margin-bottom: 50px;
        }

        &__bg-dec {
            &::before {
                width: 720px;
                height: 552px;
                left: -130px;
            }

            &::after {
                right: -86px;
                width: 402px;
                height: 443px;
            }
        }
    }

    .why {
        .title {
            margin-bottom: 50px;
        }
    }

    .services {
        .title {
            margin-bottom: 50px;
        }

        &__img {
            right: -165px;
            height: 890px;
            width: 717px;
        }

        &__bg-dec {
            &::before {
                left: -110px;
                width: 469px;
                height: 249px;
            }

            &::after {
                right: 0;
                width: 752px;
                bottom: 36px;
                height: 604px;
            }
        }

        &_mini {
            .services__bg-dec {
                &::before {
                    width: 424px;
                    height: 283px;
                    bottom: 160px;
                    left: -45px;
                }
                &::after {
                    right: -145px;
                    width: 747px;
                    bottom: 242px;
                    height: 744px;
                }
            }
        }
    }

    .blog-features {
        &__main {
            margin-right: 30px;

            &-card {
                .blog-features__card-content {
                    font-size: 14px;
                }
            }
        }

        &__other-card {
            margin-bottom: 23px;

            .blog-features__card-content {
                font-size: 14px;
            }

            .blog-features__card-img {
                max-width: 177px;
                margin-right: 21px;
                border-radius: 6px;
            }
        }

        .title {
            margin-bottom: 50px;
            margin-top: 35px;

            &+.blog-features__wrapper {
                margin-bottom: 80px;
            }
        }

        &__bg-dec {
            &::before {
                left: -80px;
                width: 490px;
                height: 316px;
            }

            &::after {
                right: -70px;
                width: 493px;
                height: 336px;
            }
        }
    }

    .metv {
        padding-bottom: 130px;

        .title {
            margin-bottom: 50px;
        }

        &__img {
            right: -227px;
            height: 629px;
            width: 766px;
        }
    }

    .reviews {
        padding-top: 205px;

        &__slider-card {
            padding: 46px 60px 51px;
        }

        &__slider-card__quote {
            blockquote {
                font-size: 16px;
            }
        }

        &__slider {
            .splide__pagination {
                margin-top: -30px;
            }
        }

        &__bg-dec {
            &::before {
                left: -153px;
                width: 732px;
                height: 598px;
            }

            &::after {
                right: -146px;
                width: 522px;
                height: 294px;
            }
        }

        &_blue {
            padding-top: 155px;
        }
    }

    .msg-form {
        &__card {
            padding: 56px 100px 54px;
        }

        &__form {
            margin-top: 40px;
        }

        &__bg-dec {
            &::before {
                left: -109px;
                width: 596px;
                height: 207px;
            }

            &::after {
                right: -84px;
                width: 888px;
                height: 320px;
            }
        }
    }

    .assurance {
        padding-top: 110px;
        padding-bottom: 100px;

        &__img {
            right: -41px;
            height: 756px;
            width: 544px;
        }

        .title {
            margin-bottom: 50px;
        }

        &__bg-dec {
            &::before {
                width: 1189px;
                height: 127px;
                right: -207px;
            }

            &::after {
                width: 1155px;
                height: 458px;
                right: calc(50% - (1156px / 2));
                bottom: -33px;
            }
        }
    }

    .footer {
        &__tech-info__copy {
            font-size: 14px;
        }

        &__logo {
            margin-bottom: 37px;
        }

        &__partners ul li {
            margin-right: 33px;
        }
    }

    .faq {
        .title {
            margin-bottom: 50px;
        }

        &_blue {
            padding-top: 250px;

            .faq__bg-dec {
                &::before {
                    width: 181px;
                    height: 114px;
                    top: 165px;
                }

                &::after {
                    right: -48px;
                    width: 178px;
                    height: 118px;
                    bottom: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 54px;
    }

    h3 {
        font-size: 50px;
    }

    h6 {
        font-size: 17px;
    }

    .content .btn {
        margin-top: 50px;
    }

    .card {
        padding: 25px;

        &-box {
            &__item {
                margin-right: 17px;
                margin-bottom: 17px;
            }
        }
    }

    .nav {
        padding-bottom: 37px;

        &__menu {
            position: absolute;
            max-width: 280px;
            max-height: calc(100vh - 80px);
            overflow-y: auto;
            overflow-x: hidden;
            top: 50px;
            left: 0;
            background: linear-gradient(244.56deg, #F3F8FF 2.71%, #FFFFFF 97.46%);
            box-shadow: 0px 0px 40px rgba(29, 42, 58, 0.05), 0px 0px 30px rgba(29, 42, 58, 0.05);
            border-radius: 10px;

            padding: 30px 26px;

            opacity: 0;
            visibility: hidden;
            height: 0;
            transition: opacity 0.3s ease;

            &.opened {
                opacity: 1;
                height: auto;
                visibility: visible;
            }

            ul {
                flex-direction: column;
                align-items: flex-start;

                li {
                    line-height: 110%;
                    margin-right: 0;
                    width: 100%;
                    cursor: default;

                    a {
                        display: block;
                        cursor: pointer;
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }

                    &:first-child {
                        padding-top: 0;
                    }

                    & > ul {
                        opacity: 1;
                        height: auto;
                        visibility: visible;
                        position: static;
                        box-shadow: none;
                        padding: 0;
                        margin-top: 10px;
                        width: 100%;
                        padding-left: 15px;
                        padding-top: 10px;
                        border-radius: 0;
                        border-left: 2px solid #1263e359;

                        li {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        &__logo {
            max-width: 172px;
        }

        &__burger {
            margin-right: 30px;
            display: block;
        }

        &__wrapper {
            position: relative;
        }

        &__btn {
            display: flex;
            padding: 0;
            background-color: transparent;
            border: none;
            width: 30px;
            height: 31px;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px 0;
            cursor: pointer;

            span {
                height: 3px;
                width: 30px;
                display: block;
                background-color: #1263E3;
                opacity: 1;

                transition: opacity 0.3s ease, transform 0.3s ease;
            }

            &.opened {
                span {
                    &:first-child {
                        transform: rotate(45deg) translate(7px,7px);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        transform: rotate(-45deg) translate(6px,-6px);
                    }
                }
            }
        }

        &__bg {
            clip-path: polygon(100% 0,100% calc(100% - 25px),0 100%,0 0);
        }

        &__bg-dec {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }
    }

    .header {
        min-height: 666px;

        &__img {
            height: 455px;
            width: 570px;
            top: 184px;
        }

        &__offer {
            max-width: 440px;
            margin-bottom: 60px;
        }

        &__bg-dec{
            &::after {
                right: -400px;
                width: 890px;
                height: 465px;
                top: 100px;
            }
        }

        &_lfm {
            min-height: 566px;

            .header__img {
                width: 428px;
                height: 370px;
                right: 70px;
                bottom: 39px;
            }

            .header__offer {
                max-width: 410px;
            }
        }

        &_mg {
            min-height: 586px;

            .header__img {
                width: 358px;
                height: 327px;
                right: 118px;
            }

            .header__offer {
                max-width: 310px;
            }
        }

        &_blog {
            min-height: 586px;

            .header__img {
                width: 454px;
                height: 389px;
            }

            .header__offer {
                max-width: 399px;
            }
        }

        &_lfd {
            min-height: 586px;

            .header__img {
                width: 358px;
                height: 357px;
                right: 118px;
            }

            .header__offer {
                max-width: 310px;
            }
        }

        &_contact-us {
            min-height: 586px;

            .header__img {
                width: 380px;
                height: 356px;
                bottom: 70px;
                right: 80px;
            }

            .header__offer {
                max-width: 430px;
            }
        }
    }

    .lfd-list {
        padding-bottom: 525px;

        &__img {
            height: 190px;
            margin-bottom: 20px;
        }

        &__wrapper {
            row-gap: 70px;
        }
    }

    .title {
        &_blog {
            h3 {
                font-size: 42px;
            }
            margin-bottom: 34px;
            padding-top: 105px;
        }
    }

    .main-wrapper {
        aside h4 {
            font-size: 28px;
        }
    }

    .design {
        &__quote {
            padding: 40px 40px 44px;
        }
    }

    .contact-us {
        padding-bottom: 500px;
        padding-top: 150px;
    }

    .guide-article  {
        padding-bottom: 500px;

        .msg-form__form {
            padding: 56px 60px 54px;
        }
    }

    .about {
        padding-bottom: 125px;

        &__partners {
            padding: 0;
        }
    }

    .services {
        padding-top: 125px;
        
        &__img {
            right: -334px;
            height: 811px;
            width: 717px;
        }

        &__bg-dec {
            &::after {
                bottom: 16px;
                height: 444px;
                right: -494px;
            }

            &::before {
                left: -118px;
                width: 479px;
                height: 189px;
                bottom: -6px;
            }
        }

        &_mini {
            .services__bg-dec {
                &::before {
                    display: none;
                }

                &::after {
                    right: -35px;
                    width: 507px;
                    bottom: 122px;
                    height: 744px;
                }
            }
        }
    }

    .trigger {
        padding-top: 100px;
        padding-bottom: 95px;
    }

    .why {
        padding-top: 130px;

        &__card {
            font-size: 14px;
            line-height: 150%;
        }
    }

    .blog-features {
        padding-bottom: 95px;

        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__main {
            margin-right: 0;
            margin-bottom: 30px;
        }

        &__other {
            max-width: 600px;
        }

        &__bg-dec {
            &::after {
                right: -275px;
                width: 513px;
                height: 286px;
                top: 10px;
            }

            &::before {
                width: 610px;
                height: 306px;
                bottom: 5px;
            }
        }
    }

    .metv {
        padding-bottom: 110px;

        &__img {
            right: -368px;
            height: 615px;
            width: 766px;
        }

        &__card-box {
            margin-top: 40px;
        }
    }

    .reviews {
        padding-top: 135px;

        &__slider-card {
            padding: 46px 50px 51px;
        }
    }

    .msg-form {
        &__card {
            padding: 56px 60px 54px;
        }

        padding-bottom: 90px;

        &__bg-dec::after {
            display: none;
        }
    }

    .footer {
        &__social {
            max-width: 238px;

            ul {
                justify-content: space-between;

                li {
                    margin-right: 0;
                }
            }
        }

        &__desc {
            font-size: 12px;
        }

        &__logo {
            max-width: 185px;
        }

        &__partners {
            margin-top: 30px;
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;

            ul {
                justify-content: space-between;

                li {
                    margin-right: 0;
                }
            }

            img {
                max-height: 53px;
            }
        }
    }

    .assurance {
        padding-top: 90px;

        &__img {
            right: -46px;
            height: 673px;
            width: 444px;
        }

        &__bg-dec {
            &::before {
                width: 649px;
                height: 77px;
                right: 103px;
                top: 30px;
            }

            &::after {
                width: 785px;
                height: 298px;
                right: calc(50% - (785px / 2));
                bottom: -33px;
            }
        }
    }

    .faq {
        &_blue {
            .faq__bg-dec {
                &::before {
                    left: -10px;
                    width: 131px;
                    height: 84px;
                    top: 165px;
                }

                &::after {
                    right: -48px;
                    width: 148px;
                    height: 98px;
                    bottom: 70px;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    h2 {
        font-size: 44px;
    }

    h3 {
        font-size: 40px;
    }

    .btn {
        min-width: 300px;
        padding: 0 20px;
        padding-right: 30px;
        font-size: 15px;
        height: 49px;

        &-tel,
        &-nav {
            min-width: unset;
            font-size: 12px;
        }
    }

    .header {
        min-height: 590px;

        &__img {
            height: 345px;
            width: 430px;
            top: 267px;
            right: -34px;
        }

        &_lfm {
            min-height: 515px;

            .header__img {
                width: 369px;
                height: 329px;
                right: 0;
                bottom: 29px;
            }
        }

        &_blog {
            min-height: 515px;

            .header__img {
                width: 334px;
                height: 329px;
                right: 0;
            }

            .header__offer {
                max-width: 329px;
            }
        }

        &_blog_article {
            & + main {
                .main-wrapper aside {
                    order: unset;
                    margin-bottom: 0;
                    margin-top: 60px;
                }
            }
        }

        &_lfd {
            min-height: 515px;

            .header__img {
                width: 369px;
                height: 329px;
                right: 0;
                bottom: 29px;
            }
        }

        &_mg {
            min-height: 515px;

            .header__img {
                width: 328px;
                height: 277px;
                right: 0;
                bottom: 77px;
            }
        }

        &_contact-us {
            min-height: 515px; 

            .header__img {
                width: 310px;
                height: 286px;
                bottom: 70px;
                right: 0;
            }
        }
    }

    .lfd-list {
        padding-top: 90px;
        padding-bottom: 485px;

        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }

        &__img {
            height: 217px;
            margin-bottom: 30px;
        }
    }

    .design {
        &__services {
            font-size: 16px;

            li {
                margin-bottom: 14px;
            }
        }

        &__quote blockquote {
            font-size: 16px;
        }
    }

    .main-wrapper {

        .main-content {
            flex-basis: 100%;
            padding-right: 0;
        }

        aside {
            order: -1;
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 60px;

            .btn {
                margin-top: 40px;
            }

            .aside-block {
                flex-basis: 50%;
                padding-right: 20px;

                &:first-child {
                    flex-basis: 100%;
                }

                &:last-child {
                    padding-left: 20px;
                    padding-right: 0;
                }

                &:nth-last-child(2) {
                    margin-bottom: 0;
                    padding-bottom: 0;

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    .contact-us {
        padding-bottom: 460px;
        padding-top: 120px;

        &__content {
            font-size: 18px;
        }
    }

    .blog-list {
        &__card-img {
            max-height: 390px;

            img {
                max-height: 390px;
            }
        }
    }

    .why {
        padding-bottom: 95px;

        &__card {
            margin-bottom: 30px;
            height: auto;
        }
    }

    .services {
        padding-top: 135px;

        &__img {
            display: none;
        }

        &__content {
            max-width: 670px;
            margin-left: auto;
            margin-right: auto;
        }

        &__card-box {
            margin-left: auto;
            margin-right: auto;
        }

        &_mini {
            .services__card-box {
                flex-direction: column;
                align-items: center;

                .card-box__item {
                    flex-basis: auto;
                    margin-bottom: 40px;
                    margin-right: 0;
                }
            }

            .services__card {
                padding: 56px 60px 50px;
            }
        }
    }

    .metv {
        &__img {
            display: none;
        }

        &__content {
            max-width: 670px;
            margin-left: auto;
            margin-right: auto;
        }

        &__card-box {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .reviews {
        padding-top: 125px;
        padding-bottom: 280px;

        &__slider {
            margin-top: 50px;
            margin-bottom: 80px;

            .splide__pagination {
                justify-content: center;
                padding-left: 0;
                margin-top: -50px;
            }
        }

        &_blue {
            padding-bottom: 178px;

            .title {
                margin-bottom: 14px;
            }
        }
    }

    .footer {
        &__rating {
            & > img {
                height: 128px;
            }
        }

        &__social {
            margin-bottom: 50px;
        }

        &__tech-info {
            margin-top: 40px;
        }
    }

    .assurance {
        &__img {
            display: none;
        }

        .content .btn {
            margin-top: 17px;
        }
    }

    .blog-features {
        .title {
            margin-bottom: 50px;
            margin-top: 0;

            &+.blog-features__wrapper {
                margin-bottom: 55px;
            }
        }
    }

    .faq {
        .title {
            margin-bottom: 30px;
        }

        &_blue {
            padding-top: 220px;
        }

        .faq__wrapper .btn-round {
            width: 240px;
            min-width: unset;
        }
    }

    .guide-article {
        padding-top: 135px;

        .title {
            margin-bottom: 44px;

            h3 {
                font-size: 40px;
            }
        }

        .msg-form__form {
            h4 {
                font-size: 30px;
                max-width: 460px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .nav {
        &__menu {
            .btn-nav {
                display: flex;
                margin-top: 20px;
                width: 100%;
            }
        }
    }

    .header {
        &__img-box {
            display: none;
        }

        &__wrapper {
            justify-content: center;
        }

        &__bg-dec {
            &::after {
                right: -540px;
                top: 140px;
            }
        }
    }

    .title_blog h3 {
        font-size: 40px;
    }

    .about-author {

        &__content {
            font-size: 14px;
        }
    }

    .blog-list {
        &__card-img {
            max-height: 320px;

            img {
                max-height: 320px;
            }
        }

        &__card-content {
            color: #ffffff;
            line-height: 130%;
            font-size: 14px;

            .blog-list__card-title {
                display: block;
                color: #fff;
                margin-bottom: 20px;
            }

            small {
                margin-top: 20px;
                font-size: 13px;
            }
        }
    }

    .pagination {
        padding-top: 60px;
    }

    .main-wrapper {
        padding-bottom: 110px;

        aside {
            h4 {
                font-size: 22px;
                margin-bottom: 30px;
            }

            .aside__categories {
                li {
                    margin-bottom: 15px;
                }
            }

            .aside__categories,
            .aside__recent-post {
                font-size: 16px;
            }

            .btn {
                min-width: unset;
                padding: 0 40px;
            }
        }

    }

    .design {
        &__wrapper {
            flex-direction: column;
        }

        &__content {
            width: 100%;
            padding-right: 0;
        }

        &-image {
            width: 100%;
            padding-left: 0;
            padding-top: 40px;
        }
    }

    .lfd-list {
        &__img {
            height: 159px;
            margin-bottom: 20px;
        }

        &__title {
            h5 {
                font-size: 16px;
            } 
        }

        &__wrapper {
            row-gap: 50px;
        }
    }

    .blog-article {
        font-size: 16px;

        .title {
            margin-bottom: 35px;
        }
    }

    .guide-article {
        font-size: 16px;
        padding-bottom: 460px;

        .guide-list {
            flex-direction: column;
            display: flex;
        }

        .title {
            margin-bottom: 35px;
        }

        blockquote {
            font-size: 16px;
            padding: 50px 50px 54px;
        }

        .msg-form__form h4 {
            font-size: 24px;
            max-width: 380px;
        }
    }

    .btn-nav {
        display: none;
    }

    .about {
        &__partners {
            margin-bottom: 20px;
        }

        &__bg-dec {
            &::after {
                display: none;
            }

            &::before {
                width: 380px;
                height: 252px;
                left: -60px;
                bottom: -13px;
            }

        }

        .title {
            margin-bottom: 35px;
        }

        &__partners-item {
            padding: 12px 20px;
            box-shadow: 0 0 28px rgba(29, 42, 58, 0.07),0 0 14px rgba(29,42,58,.1);
        }
    }

    .why {
        .title {
            margin-bottom: 35px;
        }

        &__bg-dec {
            &::after {
                right: 0px;
                width: 138px;
                height: 118px;
                top: 16px;
            }

            &::before {
                left: -21px;
                width: 160px;
                height: 85px;
                bottom: 25px;
            }
        }
    }

    .services  {
        .title {
            margin-bottom: 35px;
        }

        .card {
            padding: 23px 12px;
        }

        &_mini {
            padding-top: 105px;

            .services__card {
                border-radius: 20px;
            }

            .services__bg-dec::after {
                right: -35px;
                width: 367px;
                bottom: 252px;
                height: 384px;
            }
        }
    }

    .metv {
        .title {
            margin-bottom: 35px;
        }

        &__bg-dec {
            &::before {
                display: none;
            }

            &::after {
                right: 0;
                width: 115px;
                height: 96px;
                top: 20px;
            }
        }

        .card {
            padding: 23px 12px;
        }
    }

    .reviews {
        .title {
            margin-bottom: 24px;
        }

        &__bg-dec {
            &::before {
                display: none;
            }

            &::after {
                right: -136px;
                width: 252px;
                height: 134px;
                bottom: 100px;
            }
        }
    }

    .footer {
        &__logo,
        &__desc,
        &__social {
            margin-left: auto;
            margin-right: auto;
        }

        &__links {
            text-align: center;
            margin-bottom: 50px;

            ul {
                align-items: center;
            }
        }

        &__rating > img {
            height: auto;
        }

        &__tech-info__copy {
            text-align: center;
            justify-content: center;
            margin-bottom: 10px;
            margin-top: 10px;
            height: auto;
        }

        &__tech-info__links {
            justify-content: center;
            margin-bottom: 5px;
        }
    }

    .assurance {
        .title {
            margin-bottom: 35px;
        }

        &__checklist {
            ul {
                flex-direction: column;
            }
        }

        &__bg-dec {
            &::before {
                width: 519px;
                height: 77px;
                right: -17px;
                top: 10px;
            }

            &::after {
                width: 555px;
                height: 298px;
                right: calc(50% - (555px / 2));
                bottom: -33px;
            }
        }
    }

    .faq {
        &_blue {
            padding-top: 220px;

            .faq__bg-dec::after {
                right: -20px;
                width: 108px;
                height: 70px;
                bottom: 70px;
            }
        }
    }

    .blog-features {
        .title {
            margin-bottom: 35px;
        }

        &__bg-dec {
            &::after {
                right: -68px;
                width: 363px;
                height: 236px;
                top: -60px;
            }

            &::before {
                width: 340px;
                height: 186px;
                bottom: -15px;
                left: -60px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .why .title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-us {
        padding-bottom: 450px;

        &__content {
            font-size: 16px;
            text-align: left;
        }
    }

    .about-author {
        margin-top: 40px;
    }    
}

@media screen and (max-width: 536px)  {
    .card-box {
        flex-direction: column;
        align-items: center;

        &__item {
            margin-right: 0;
            max-width: 400px;
            margin-bottom: 30px;
        }
    }

    .blog-features {
        &__other-card {
            flex-direction: column;

            .blog-features__card-img {
                margin-bottom: 20px;
                margin-right: 0;
                max-width: 247px;
                height: 136px;
            }

            margin-bottom: 30px;
        }

        &__bg-dec::before {
            display: none;
        }

        &__main {
            margin-bottom: 40px;

            .blog-features__card-content {
                padding-left: 26px;
                padding-right: 26px;
            }
        }
    }

    .msg-form {
        &__card {
            padding: 36px 40px 44px;
        }

        &__form {
            .form-group > * {
                margin-right: 0;
                margin-bottom: 30px;
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .about-author {
        &__card {
            padding: 36px 40px 44px;
        }
    }

    .blog-list {
        &__card-img {
            max-height: unset;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            z-index: unset;

            img {
                max-height: unset;
                height: 100%;
            }
        }

        &__card {
            margin-bottom: 30px;
        }

        &__card-content {
            padding-top: 60px;
            position: relative;
            z-index: 1;
            min-height: 270px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    .form-group {
        flex-direction: column;

        & > * {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .services {
        &_mini .services__card {
            padding: 35px 29px 31px;
        }
    }

    .lfd-list {
        &__img {
            height: 138px;
            border-radius: 10px;
        }

        &__wrapper {
            column-gap: 20px;
        }
    }

    .main-wrapper {
        aside {
            h5 {
                margin-bottom: 20px;

            }

            .aside-block {
                flex-basis: 100%;
                margin-bottom: 60px;

                &:nth-last-child(2) {
                    margin-bottom: 60px;
                    padding-right: 0;
                }

                &:last-child {
                    padding-left: 0;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 475px) {
    h1 {
        font-size: 43px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 39px;
    }

    .btn {
        min-width: unset;
    }

    .content {
        .btn {
            margin-top: 40px;
        }
    }

    .lfd-list {
        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__img {
            height: 60vw;
        }
    }

    .design {
        &__author {
            span {
                font-size: 16px;
            }
        }

        &__link {
            font-size: 16px;
        }

        &__services {
            flex-direction: column;
            display: flex;
        }
    }

    .guide-article {
        .msg-form__form {
            padding: 36px 40px 44px;

            h4 {
                font-size: 22px;
                margin-bottom: 30px;
            }
        }

        blockquote {
            padding: 36px 40px 44px;
        }
    }

    .nav {

        @media not all and (min-resolution:.001dpcm)
        { @supports (-webkit-appearance:none) and (stroke-color:transparent) {
            display: block;
            filter: none;
        }}

        &__logo {
            max-width: 130px;
        }

        &__burger {
            margin-right: 22px;
        }

        &__btn {
            width: 27px;

            span {
                width: 27px;
            }
        }

        &__controls {
            margin-left: 15px;

            .btn-tel {
                padding: 0 20px;
                height: 44px;
            }
        }
    }

    .header {
        &__offer {
            margin-bottom: 30px;

            p {
                font-size: 16px;
            }
        }

        &_lfm {
            min-height: 445px;
        }
    }

    .about {
        &__partners-item {
            img {
                max-height: 31px;
            }
        }
    }

    .reviews {
        &__slider-card {
            padding: 39px 30px 30px;
        }

        &__slider-card__cite {
            margin-top: 25px;
        }

        &__slider-card__author {
            small {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 33px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 19px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    .nav {
        &__logo {
            max-width: 100px;
        }

        &__burger {
            margin-right: 18px;
        }

        &__controls  {
            .btn-tel {
                padding: 0 16px;
                height: 36px;
            }
        }
    }

    .reviews {
        &__slider-card__author {
            span {
                font-size: 16px;
            }
        }

        &__slider-card__quote {
            blockquote {
                font-size: 15px;
            }
        }
    }

    .about-author {
        &__card {
            padding: 36px 25px 30px;
        }
    }

    .design {
        &__quote {
            padding: 36px 25px 30px;
        }

        &-page {
            padding-bottom: 460px;
        }
    }

    .why__card {
        h6 {
            margin-bottom: 13px;
        }
    }

    .blog-list {
        &__card-content {
            padding-left: 22px;
            padding-bottom: 21px;
            padding-right: 20px;
        }
    }

    .about {
        &__partners-item {
            width: 100%;
            margin-right: 0;
            display: flex;
            justify-content: center;
            margin-bottom: 15px;

            img {
                max-height: 37px;
            }
        }
    }

    .blog-features {
        &__main-card {
            .blog-features__card-img-label {
                left: 23px;
                top: 23px;
            }
        }
    }

    .msg-form {
        &__card {
            padding: 36px 25px 30px;
            border-radius: 20px;
        } 
    }

    .guide-article {
        .msg-form__form {
            padding: 36px 25px 30px;
            border-radius: 20px;

            h4 {
                font-size: 18px;
            }
        }

        blockquote {
            padding: 36px 25px 30px;
        }
    }
}


